li{
    font-size: 20px;
}
.my-footer{
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: grey;
}
.my-footer p {
    font-size: 18px;
}
.mainevent-1{
    text-align: center;
    font-size: 110%;
    padding-left: 5%;
    padding-right: 5%;
    display: block;
    align-content: center;
}
.card{
    margin: 0.7%;
}
.imggg{
    margin: 0px;
}
body{

}